<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/styles.css">
		<title>BP</title>
	</head>
	
	<body>
		<input id="search" type="text" placeholder="123 Example St. (current loc. is default)" 
					v-model="address" debounce="750">

		<button @click="findAddress()">Find em</button>
		<br>
		<div class="container" id="container">
		
			<!-- <div class="fixed"> -->
			<div id="map" style="position:fixed;">  </div>
			<!-- </div> -->
				
			
			<div class="results">
				<div class="box" v-for="toilet in toilets">    
					<span> {{ toilet.Name }} </span>
				
					<span> {{ toilet.Address1 }} </span>
				
					<span> {{ toilet.IsOpen}} </span>
				
					<button @click="goThere(toilet)">Go there</button>
				</div>
			</div>


		</div>
		<script>
			<% if (typeof(tlts) !== 'undefined') { %>
		   		var tlts = <%- JSON.stringify(tlts) %>
			<% } else { %>
				var tlts = '';
			<% } %>
		</script>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
		<script src="/frontEnd.js"> </script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4Qjwv2Bvf6uGnPlVbq71eUf9NxzMgTds&callback=" async defer></script>
		
	</body>
</html>
