
.container {
	display: flex;
	/*align-items: center;*/
}
#map {
	/*position: fixed; */
	height: 300px;
	width: 100%; 
	top: 0;
	padding: 1em;
	z-index: -5;
}

.results {
	padding-left: 1em;
	height: 500px;
	overflow: scroll;
	z-index: 999;
}
.box {
	background: #bdc3c7;
	padding: 2px;
}

#search {
	width: 66%;
	line-height: 1.5em;
	margin-bottom: 1em;
}